/* Reset CSS */

/* Remova margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Zere o estilo de lista */
ul, ol {
    list-style: none;
}

/* Defina fontes para um valor padrão */
body {
    font-family: 'Poppins', sans-serif;
}
